@media screen and (max-width: 768px) {
  .layout-footer {
    flex-wrap: wrap;
    justify-content: center;
    .layout-item {
      flex-basis: 100%;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 650px){
  .layout-products {
    justify-content: center;
  }
  }