  $global-font-family:                            'Ubuntu', sans-serif;
  $global-font-size:                              1rem;
  $global-line-height:                            1.36;

  $global-color:                                  #a5a4a4;
  $global-muted-color:                            #ed1111;

  $global-link-color:                             $global-color;
  $global-link-hover-color:                       $global-color;

  $global-inverse-color:                          #fff;

  $global-background:                             #fff;

  $global-muted-background:                       #efeeee;
  $global-primary-background:                     #fff;
  $global-secondary-background:                   #d9d9d9;

  $global-border-width:                           1px;
  $global-border:                                 #e5e5e5;

  $global-margin:                                 10px;

  $global-control-height:                         38px;


